@font-face {
    font-family: Roboto;
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Evangelion;
    src: url("font/EVA-Matisse_Classic.ttf")
}

html {
    background-color: black;

    cursor: url("img/pointercursor2.png") 9 2, auto;
}

#floating-overlay {
    /* fixed overlay effect */
    z-index: 5;
    position: fixed;

    width: 100%;
}

#xvideos-scroll {
    font-size: 48px;
    font-family: Roboto;

    color: gray;
    text-shadow: 1px 1px 0px black, -1px -1px 0px white;

    overflow: hidden;

    container-type: inline-size;

    user-select: none;

    opacity: 50%;
}

@keyframes scroll-left {
    from {
        transform: translateX(100cqw);
    }
    to {
        transform: translateX(-100%);
    }
}

#scroll-left {
    text-align: center;

    animation: scroll-left 30s linear infinite;

    white-space: nowrap;
    min-width: fit-content;

    display: flex;
}

#title-menu {
    text-align: center;

    font: Evangelion;
    color: white;

    position: fixed;
    top: 50%;
    left: 50%;

    word-wrap: none;
    
    z-index: 2;

    font-size: xx-large;
    transform: scale(25%, 125%);

    user-select: none;
}

#right-hand {
    position: fixed;
    z-index: 1;

    right: 0;
    bottom: 0;
}

iframe {
    border: none;
}

#this-vessel-container {
    text-align: center;
    image-rendering: crisp-edges;
}

#this-vessel-container img {
    min-height: 100vh;
    min-width: 100%;
}

map area {
    cursor: url("img/regularcursor2.png") 4 2, pointer;
}

.footer {
    text-align: center;

    font-family: Helvetica;
    color: white;
}